/* Home.css */
.dropzone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #555;
    font-size: 16px;
    transition: border-color 0.2s ease;
    cursor: pointer;
  }
  
  .dropzone-container:hover {
    border-color: #aaa;
  }
  
  .dropzone-container p {
    margin: 0;
  }
  
  .dropzone-container.drag-active {
    border-color: #007bff; /* Change color on drag */
    background-color: #e6f7ff;
  }

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .dropzone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #333;
    color:  white;
    font-size: 16px;
    transition: border-color 0.2s ease;
    cursor: pointer;
    padding: 10px
  }
  
  .dropzone-container:hover {
    border-color: #aaa;
  }
  
  .dropzone-container p {
    margin: 0;
  }
  
  .dropzone-container.drag-active {
    border-color: #007bff; /* Change color on drag */
    background-color: #e6f7ff;
  }
  
  .file-list {
    width: 100%;
    max-width: 400px;
  }
  
  .file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #282c34;
    color: white;
  }
  
  .delete-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #ff1a1a;
  }
    
  .center-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center-items-normal-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 18px;
  }

  .small-txt {
    font-size: 16px;
  }