.slider-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .slider {
    width: 350px;
    -webkit-appearance: none;
    appearance: none;
    height: 6px; /* Track height */
    background: #262e3e; /* Unselected track color */
    outline: none;
    border-radius: 5px;
  }
  
  /* Styling the slider track */
  .slider::-webkit-slider-runnable-track {
    height: 6px; /* Track height */
    border-radius: 5px;
    background: linear-gradient(to right, #32518c 0%, #32518c var(--slider-value), #262e3e var(--slider-value), #262e3e 100%);
  }
  
  .slider::-moz-range-track {
    height: 6px; /* Track height */
    background-color: #262e3e; /* Unselected track color */
    border-radius: 5px;
  }
  
  /* Styling the slider thumb */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px; /* Thumb size */
    height: 14px;
    background-color: #32518c; /* Thumb color */
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    margin-top: -4px; /* Centers thumb vertically on track */
  }
  
  .slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background-color: #32518c; /* Thumb color */
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    margin-top: -4px; /* Centers thumb vertically on track */
  }
  
  .slider::-moz-range-progress {
    background-color: #32518c; /* Selected track color */
  }
  
  .slider-input {
    width: 60px;
    padding: 5px;
    text-align: center;
    background-color: #2e3c56;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
  }
  