.loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 16px;
    color: #2e3c56;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #32518c;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
}

.svg-container svg {
    width: 100%; /* Scale to fit container width */
    height: auto; /* Maintain aspect ratio */
}
.svg-download-link {
    text-decoration: none;
    color: inherit;
    display: inline-block; /* Ensure the SVG remains block-like */
  }